.header-contacts {
  display: flex;
  margin-left: auto;

  @extend %list;
}

.header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}

.header-contacts__link {
  display: flex;
  align-items: center;

  color: getColor('main-text-color');

  text-decoration: none;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: getColor('color-in-action');
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
